.root {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: var(--mantine-spacing-md);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--mantine-spacing-md);
}
