VITE_API_URL="http://localhost:8000/api"
VITE_DEV_BACKEND_URL="http://127.0.0.1:8000"
VITE_ABOUT_PROJECTS_COLLECTION_ID=""
VITE_ABOUT_GOALS_COLLECTION_ID=""
VITE_SPONSORS_COLLECTION_ID=""
VITE_MENTORS_COLLECTION_ID=""
VITE_EVENTS_COLLECTION_ID=""
VITE_PAGES_COLLECTION_ID=""
VITE_HOME_RESOURCE_ID=""
VITE_SENTRY_DSN=""
